

.container {
  margin:0;
  padding:0;
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  height: 100vh;
  
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-right:10%;
  margin-top:5%;
  margin-left:50%;
}
.control {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formulario input {
  font-size:1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width:100%;
  height:100%;
  gap: 1.5rem;
  background-color: #ffffff;
  border-radius:2.5%;
  box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat','sans-serif';
  font-style: normal/regular;
  font-weight: 400;
  line-height: 80%;
  border:.125rem solid #CDCDCD;
}
.h1C {
  align-self: center;
  font-family: 'Lobster', 'sans-serif';
  font-size:3rem;
  font-weight:400;
  margin-top:2rem;
  color:#000000;
}
.nome-sobr {
  display: flex;
  justify-content:space-around;
  gap:1rem;
  margin: 0;
  width: 100%;
  height:3.25rem;
}
.nome-sobr div {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;
  height: 100%;
  
}
.nome-sobr input { 
  width: 100%;
  height: 100%;
  border-radius: .1875rem;
  border: 2px solid #CDCDCD;
  
}
.email {
  display:flex;
  width: 100%;
  height:3.25rem;
}
.email input {
  width: 100%;
  height: 100%;
  border-radius: .1875rem;
  border: 2px solid #CDCDCD;
}
.data {
  display: flex;
  justify-content: space-between; /* Ajusta os itens horizontalmente com espaço entre eles */
  align-items: center;
  width: 100%;
  height:3.75rem;
}
.data div {
  width: 30.4%;
  height: 100%;
}
.data-item {
  width: 100%;
  height: 100%;
  border-radius: .1875rem;
  border: 2px solid #CDCDCD;
  font-family: 'Montserrat','sans-serif';
  font-size:1.5rem;
}
.data-item option {
  font-family: 'Montserrat','sans-serif';
  font-size:1rem;
}
.senha {
  height:3.25rem;
  width:99.5%;
  height:
}  
.senha input { 
  width: 99.5%;
  height: 100%;
  border: 2px solid #CDCDCD;
  border-radius: .1875rem;
}
.senha div {
  font-family: 'Montserrat', 'sans-serif';
  font-size: .75rem;
  font-weight: 400;
  line-height: .625rem;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  height: 100%
}
.error-input {
  border: 2px solid red;
}
.sucess-input {
  border: 2px solid green;
}
.criterios {
  width: 100%;
  heigth: 8.4375rem;
}

.criterios h3 {
  margin-top:0;
  margin-bottom:1rem;
  font-family: 'Montserrat','sans-serif';
  font-size: .875rem;
  font-weight: 500;
  line-height: .625rem;
  letter-spacing: 0em;
  text-align: left;

}
.criterios p {
  display: flex;
  flex-direction: column;
  font-size:.75rem
}
.Cadastrar {
  background-color: #0F00C1;
  width: 14.5rem;
  height: 4rem;
  align-self: center;
  padding: .5rem;
  border-radius:.9375rem;
  margin-top: 1.25%;
  color: #FFF;
  font-family: 'Montserrat';
  font-size:2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 80%;
  cursor: pointer;

}
.login {
  align-self: center;
  margin-bottom:1.5rem;
  color: #000;
  font-family: 'Crimson Text','sans-serif';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 68.5%;
}
.login a {
  color: #000;
  font-family: 'Crimson Text','sans-serif';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 68.5%; /* 15.07px */
  text-decoration-line: underline;
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .formulario {
    margin-right:11%;
    margin-left:51%;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1700px) {
  .formulario {
    margin-right:13%;
    margin-left:53%;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1800px) {
  .formulario {
    margin-right:14%;
    margin-left:54%;
  }
}